.filter-wrapper {
  background-color: #fff;
  border: 1px solid #c0c0c0;
  display: flex;
  flex-direction: column;

  .filter-title {
    background-color: #2a5ea5;
    padding: 10px;
    color: #fff;
    margin-bottom: 20px;
  }

  > div {
    padding: 5px 20px;
    margin-bottom: 13px;
  }

  select {
    display: block;
    height: 40px;
    border: 1px solid #ddd;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
  }
}
