* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#root {
  height: 100vh;
}

.layout {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100%;
  grid-template-rows: 50px 1fr 50px;
}

main {
  grid-area: main;
}

.wrapper {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

.wrapper .products-wrapper {
  width: 100%;
  cursor: pointer;
}

.wrapper .filter-wrapper {
  width: 30%;
}

.nav ul {
  display: flex;
  background-color: #ddd;
  list-style: none;
  padding: 10px 35px;
}

.nav ul li a {
  display: block;
  background-color: gray;
  color: #fff;
  padding: 5px 10px;
  margin-right: 5px;
  text-decoration: none;
}

.nav ul li a.active {
  background-color: #2a5ea5;
}
